{% extends 'Forum/index.html' %}
{% load staticfiles %}
{% load forum_bbcode %}
{% block head_title %}
	Report post
{% endblock %}
{% block forum_content %}
<h1 class="underlined-element">Report post</h1>
<div class="panel panel-info">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<a name="{{ post.local_id }}" href="{% url 'Forum.views.post' post_id=post.local_id %}">#{{ post.local_id }}</a>
				</div>
				<div class="col-sm-6 hidden-xs text-right">
					<span>{{ post.publication_datetime|date:"m-d-Y H:i:s" }}</span>
				</div>
			</div>
		</div>
		<div class="panel-body post">
			<div class="row">
				<div class="col-xs-12 col-sm-2 text-center post-info">
					{% if post.user_is_admin %}
						<span class="text-warning">
					{% elif post.user_is_mod %}
						<span class="text-danger">
					{% endif %}
					<strong>{{ post.publisher.username }}</strong>
					<br>
					{% if post.user_is_admin %}
						Administrator
						</span>
						<br>
					{% elif post.user_is_mod %}
						Moderator
						</span>
						<br>
					{% endif %}
					Posts: {{ post.publisher.post_set.count }}
				</div>
				<div class="col-xs-12 col-sm-10 post-body">
					<div class="post-content">
						{% if post.title != "" %}
							<h4 class="post-title underlined-element">{{ post.title }}</h4>
						{% endif %}
						{{ post.content|bbcode }}
					</div>
					{% if post.postedited_set.count %}
						<small class="upperlined-element">Last edition by 
							{% if post.postedited_set.last.user_is_administrator %}
								<span class="text-warning">
							{% elif post.postedited_set.last.user_is_moderator %}
								<span class="text-danger">
							{% else %}
								<span>
							{% endif %}
							<strong>{{ post.postedited_set.last.user.username }}</strong>
							</span>
							 on {{ post.postedited_set.last.datetime|date:"m-d-Y H:i:s" }}
						 </small>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
<form role="form" action="">
	{% csrf_token %}
	<div class="form-group">
		<strong>Reason</strong> <small>(optional)</small>
		<textarea class="form-control" id="id_reason" rows="2" name="reason" style="width: 100%;"></textarea>
		<span class="help-block">{{ form.reason.help_text | safe }}</span>
		{% if form.reason.errors %}
		<div class="alert alert-danger">
			{{ form.reason.errors }}
		</div>
		{% endif %}
	</div>
	<button class="btn btn-primary text-left" type="submit">Report</button>
</form>
{% endblock %}
