{% extends 'Forum/index.html' %}
{% load staticfiles %}
{% block head_title %}
	{{ page_title }}
{% endblock %}
{% block forum_content %}
<h1 class="underlined-element">New Thread</h1>
<form id="thread-settings-form" role="form" action="" method="POST">
	{% csrf_token %}
	<div class="form-group">
		<strong>Title</strong>
		{{ form.title }}
		<span class="help-block">{{ form.title.help_text | safe }}</span>
		{% if form.title.errors %}
		<div class="alert alert-danger">
			{{ form.title.errors }}
		</div>
		{% endif %}
	</div>
	<div class="form-group">
		<strong>Content</strong><br>
		<textarea name="content" id="id_content" style="height:300px;width:100%;">{{ form.content.value|default_if_none:"" }}</textarea>
		<span class="help-block">{{ form.content.help_text | safe }}</span>
		{% if form.content.errors %}
		<div class="alert alert-danger">
			{{ form.content.errors }}
		</div>
		{% endif %}
	</div>
	<div class="form-group">
		<button class="btn btn-default" id="button-add-poll" type="button">Add Poll</button>
		<button class="btn btn-default hidden" id="button-remove-poll" type="button">Remove Poll</button>
		<input type="hidden" name="add_poll" id="id_add_poll" value="False"></input>
		<input type="hidden" name="poll_option_count" id="id_poll_option_count" value="2"></input>
	</div>
	<div class="form-group hidden" id="poll-form">
		<div class="form-group">
			<strong>Question</strong>
			<input id="id_question" class="form-control" type="text" name="question" maxlength="200"></input>
		</div>
		<div class="form-group">
			<input class="form-control poll-option" type="text" name="poll-option[0]" maxlength="200" placeholder="Option 1"></input>
		</div>
		<div class="form-group">
			<input class="form-control poll-option" type="text" name="poll-option[1]" maxlength="200" placeholder="Option 2"></input>
		</div>
	</div>
	<button class="btn btn-default hidden" id="button-add-option" type="button">Add option</button>
	<div class="text-right">
		<button class="btn btn-primary text-left" type="submit">Send</button>
	</div>
</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$("#id_title").addClass("form-control");
$(function() {
	$("#id_content").sceditor({
		plugins: "bbcode",
		style: "{% static 'Forum/SCEditor/jquery.sceditor.default.min.css' %}",
		toolbarExclude:"maximize,email,subscript,superscript,print,ltr,rtl,font"
	});
});
$("#button-add-poll").click(function(){
	$("#poll-form").removeClass("hidden");
	$("#button-add-option").removeClass("hidden");
	$(this).addClass("hidden");
	$("#button-remove-poll").removeClass("hidden");
	$("#id_add_poll").val("True");
});
$("#button-remove-poll").click(function(){
	$("#poll-form").addClass("hidden");
	$("#button-add-option").addClass("hidden");
	$(this).addClass("hidden");
	$("#button-add-poll").removeClass("hidden");
	$("#id_add_poll").val("False ");
});
$("#button-add-option").click(function(){
	var num = parseInt($("#id_poll_option_count").val());
	$("#poll-form").append('\
<div class="form-group">\
	<input class="form-control poll-option" type="text" name="poll-option['+num+']" maxlength="200" placeholder="Option '+(num+1)+'"></input>\
</div>');
	$("#id_poll_option_count").val(num+1);
});
$("#id_poll_option_count").val("2");
</script>
{% endblock %}
