{% extends 'Forum/index.html' %}
{% load staticfiles %}
{% block head_title %}
	{{ page_title }}
{% endblock %}
{% block forum_content %}
<h1 class="underlined-element">Post reply</h1>
<form id="thread-settings-form" role="form" action="" method="POST">
	{% csrf_token %}
	<div class="form-group">
		<strong>Title</strong>
		{{ form.title }}
		<span class="help-block">{{ form.title.help_text | safe }}</span>
		{% if form.title.errors %}
		<div class="alert alert-danger">
			{{ form.title.errors }}
		</div>
		{% endif %}
	</div>
	<div class="form-group">
		<strong>Content</strong><br>
		<textarea name="content" id="id_content" style="height:300px;width:100%;">{{ form.content.value|default_if_none:"" }}</textarea>
		<span class="help-block">{{ form.content.help_text | safe }}</span>
		{% if form.content.errors %}
		<div class="alert alert-danger">
			{{ form.content.errors }}
		</div>
		{% endif %}
	</div>
	<button class="btn btn-primary text-left" type="submit">Send</button>
</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$("#id_title").addClass("form-control");
$(function() {
	$("#id_content").sceditor({
		plugins: "bbcode",
		style: "{% static 'Forum/SCEditor/jquery.sceditor.default.min.css' %}",
		toolbarExclude:"maximize,email,subscript,superscript,print,ltr,rtl,font"
	});
});
</script>
{% endblock %}
