{% load staticfiles %}
<form id="thread-settings-form" role="form" action="{% url 'Forum.views.editPost' forum_id=forum_id post_id=post.local_id %}" method="POST">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h2 class="modal-title">Post edit</h2>
	</div>
	<div class="modal-body">
		{% csrf_token %}
		<div class="form-group">
			<textarea name="content" id="id_content" style="height:150px;width:100%;">{{ post.content }}</textarea>
		</div>
		{% if user_is_mod %}
		<div class="checkbox">
			<label>
				{{ form.hidden }} Hidden
			</label>
		</div>
		{% endif %}
	</div>
	<div class="modal-footer">
		<a class="btn btn-default" type="submit" href="{% url 'Forum.views.editPost' forum_id=forum_id post_id=post.local_id %}">Advanced editing</a>
		<button class="btn btn-primary" type="submit">Send</button>
	</div>
</form>
<script type="text/javascript">
$("#forms-modal").on("shown.bs.modal", function() {
	$(".modal-body textarea").sceditor({
		plugins: "bbcode",
		style: "{% static 'Forum/SCEditor/jquery.sceditor.default.min.css' %}",
		toolbarExclude:"maximize,email,subscript,superscript,print,ltr,rtl,font"
	});
});
</script>