{% load staticfiles %}
<form id="thread-settings-form" role="form" action="{% url 'Forum.views.replyThread' forum_id=forum_id thread_id=thread.local_id thread_slug=thread.slug %}" method="POST">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h2 class="modal-title">Post reply</h2>
	</div>
	<div class="modal-body">
		{% csrf_token %}
		<div class="form-group">
			<textarea name="content" id="id_content" style="height:200px;width:100%;">{{ form.content.value|default_if_none:"" }}</textarea>
		</div>
	</div>
	<div class="modal-footer">
		<a class="btn btn-default" type="submit" href="{% url 'Forum.views.replyThread' forum_id=forum_id thread_id=thread.local_id thread_slug=thread.slug %}">Advanced editing</a>
		<button class="btn btn-primary" type="submit">Send</button>
	</div>
</form>
<script type="text/javascript">
$("#forms-modal").on("shown.bs.modal", function() {
	$(".modal-body textarea").sceditor({
		plugins: "bbcode",
		style: "{% static 'Forum/SCEditor/jquery.sceditor.default.min.css' %}",
		toolbarExclude:"maximize,email,subscript,superscript,print,ltr,rtl,font"
	});
});
</script>