{% extends 'Forum/index.html' %}
{% block head_title %}
{{ forum.forum.name }} · {{ forum.name }}
{% endblock %}
{% block forum_content %}
	<h1 class="forum-page-title">{{ forum.name }}</h1>
	<ol class="breadcrumb">
		<span class="glyphicon glyphicon-home"></span>
		{% for l in forum.getPathAsList %}
			<li>
				{% if l == forum.forum.main_forum %}
					<a href="{% url 'Forum.views.forum' forum_id=forum.forum.local_id %}">
				{% else %}
					<a href="{% url 'Forum.views.subforum' forum_id=forum.forum.local_id subforum_id=l|slugify %}">
				{% endif %}
					{{ l.name }}
				</a>
			</li>
		{% endfor %}
		<li class="active">
			{{ forum.name }}
		</li>
	</ol>
	{% if 0 < subforum_list|length or is_admin %}
		<div class="panel panel-info subforum-list">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6">
						<h1 class="panel-title">Subforums</h1>
					</div>
					{% if is_admin %}
						<div class="col-xs-6 text-right">
							<a class="btn btn-default btn-sm pull-right" href="{% url 'Forum.views.newSubforum' forum_id=forum.forum.local_id subforum_id=forum|slugify %}">New Subforum</a>
						</div>
					{% endif %}  
				</div>
			</div>
			<ul class="list-group">
				{% for subforum in subforum_list %}
					<li class="list-group-item">
						<div class="row">
							<div class="col-xs-3 col-sm-2 col-md-1" style="text-align:center;height:50px;">
								{% if subforum.is_visited %}
									<span class="glyphicon glyphicon-book text-muted" style="font-size:30px;margin-top:10px;"></span>
								{% else %}
									<span class="glyphicon glyphicon-book" style="font-size:30px;margin-top:10px;"></span>
								{% endif %}
							</div>
							<div class="col-xs-9 col-sm-6 col-md-6">
								<a href="{% url 'Forum.views.subforum' forum_id=forum.forum.local_id subforum_id=subforum|slugify %}">
									<h4 class="list-group-item-heading">{{ subforum.name }}</h4>
								</a>
								<p class="list-group-item-text">{{ subforum.description|linebreaks }}</p>
							</div>
							<div class="col-lg-2 visible-lg">
								Threads: {{ subforum.thread_set.count }}
							</div>
							<div class="col-sm-4 col-lg-3 hidden-xs" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;">
								{% if subforum.getLastModifiedThread %}
									<a href="{% url 'Forum.views.thread' forum_id=forum.forum.local_id thread_id=subforum.getLastModifiedThread|slugify %}">{{ subforum.getLastModifiedThread.name }}</a><br>
									By {{ subforum.getLastModifiedThread.getLastModifiedPost.publisher.username }}<br>
									{{ subforum.getLastModifiedThread.getLastModifiedPost.publication_datetime|date:"m-d-Y, H:i" }}
								{% else %}
									This subforum is empty.<br>
									{% if can_create_thread %}
									<a href="{% url 'Forum.views.newThread' forum_id=forum.forum.local_id subforum_id=subforum|slugify %}">Be the first one to post!</a><br>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-sm-12 hidden-xs text-right">
			<ul class="pagination pagination-top">
				{% for i in subforum_pages %}
					{% if i == subforum_current_page %}
						<li class="active">
					{% else %}
						<li>
					{% endif %}
						{% if forum == forum.forum.main_forum %}
							<a href="{% url 'Forum.views.forum' forum_id=forum.forum.local_id page=i  %}">
						{% else %}
							<a href="{% url 'Forum.views.subforum' forum_id=forum.forum.local_id subforum_id=forum|slugify page=i %}">
						{% endif %}
						{{ i }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-6">
					<h1 class="panel-title">Threads</h1>
				</div>
				{% if can_create_thread %}
					<div class="col-xs-6 text-right">
						<a class="btn btn-primary btn-sm pull-right" href="{% url 'Forum.views.newThread' forum_id=forum.forum.local_id subforum_id=forum|slugify %}">New Thread</a>
					</div>
				{% endif %}  
			</div>
		</div>
		<ul class="list-group">
			{% for thread in thread_list %}
				<li class="list-group-item">
					<div class="row">
						<div class="col-xs-3 col-sm-2 col-md-1 thread-icon-container">
							{% if thread.is_visited %}
									<span class="glyphicon glyphicon-file thread-icon text-muted"></span>
								{% else %}
									<span class="glyphicon glyphicon-file thread-icon"></span>
								{% endif %}
						</div>
						<div class="col-xs-9 col-sm-6 col-md-6">
							<a href="{% url 'Forum.views.thread' forum_id=forum.forum.local_id thread_id=thread|slugify %}">
								<h4 class="list-group-item-heading">{{ thread.name }}</h4>
							</a>
							<p class="list-group-item-text">Started by {{ thread.creator }}</p>
						</div>
						<div class="col-lg-2 visible-lg">
							Replies: {{ thread.post_set.count|add:-1 }}<br>
							Views: {{ thread.visit_counter }}
						</div>
						<div class="col-sm-4 col-lg-3 hidden-xs thread-info">
							{{ thread.getLastModifiedPost.publisher.username }}<br>
							{{ thread.getLastModifiedPost.publication_datetime|date:"m-d-Y, H:i" }}
						</div>
					</div>
				</li>
			{% empty %}
			<li class="list-group-item">
				<p class="list-group-item-text text-center">
					This subforum is empty.<br>
					{% if can_create_thread %}
					<a href="{% url 'Forum.views.newThread' forum_id=forum.forum.local_id subforum_id=forum|slugify %}">Be the first one to post!</a><br>
					{% endif %}
				</p>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="row">
		<div class="col-sm-12 hidden-xs text-right">
			<ul class="pagination pagination-bottom">
				{% for i in subforum_pages %}
					{% if i == subforum_current_page %}
						<li class="active">
					{% else %}
						<li>
					{% endif %}
						{% if forum == forum.forum.main_forum %}
							<a href="{% url 'Forum.views.forum' forum_id=forum.forum.local_id page=i  %}">
						{% else %}
							<a href="{% url 'Forum.views.subforum' forum_id=forum.forum.local_id subforum_id=forum|slugify page=i %}">
						{% endif %}
						{{ i }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}