{% comment %}
Variables:
	list_of_pages
	current_page
{% endcomment %}
<ul class="pagination pagination-top">
	{% if current_page|add:-1 >= list_of_pages|first %}
		<li><a href="{% url 'Forum.views.thread' forum_id=thread.forum.local_id thread_id=thread.local_id thread_slug=thread.slug %}">First</a></li>
		<li><a href="{% url 'Forum.views.thread' forum_id=thread.forum.local_id thread_id=thread.local_id thread_slug=thread.slug page=current_page|add:-1 %}">&laquo;</a></li>
	{% endif %}
	{% for i in list_of_pages %}
		{% if i == current_page %}
			<li class="active">
		{% else %}
			<li>
		{% endif %}
			<a href="{% url 'Forum.views.thread' forum_id=thread.forum.local_id thread_id=thread.local_id thread_slug=thread.slug page=i %}">{{ i }}</a>
		</li>
	{% endfor %}
	{% if current_page|add:1 <= list_of_pages|last %}
		<li><a href="{% url 'Forum.views.thread' forum_id=thread.forum.local_id thread_id=thread.local_id thread_slug=thread.slug page=current_page|add:1 %}">&raquo;</a></li>
		<li><a href="{% url 'Forum.views.threadLastPage' forum_id=thread.forum.local_id thread_id=thread.local_id thread_slug=thread.slug %}">Last</a></li>
	{% endif %}
</ul>